// Colours
$pink: pink;
$color-darker: #298D8D;	// Main Primary color */
$color-light: #74C4C4;
$color-mid: #44A1A1;
$color-dark: #108181;
$color-darkest: #076464;

$green: #405147;
$grey-green: #e1e4dd;
$purple: #827191;
$grey: #595959;
// Fonts
$raleway: Raleway, Helvetica, Arial, sans-serif;
$lato: Lato, sans-serif;

// Layout
$header_height: 100px;