// Colours
$pink: pink;
$color-darker: #298D8D;	// Main Primary color */
$color-light: #74C4C4;
$color-mid: #44A1A1;
$color-dark: #108181;
$color-darkest: #076464;

// Fonts
$serif: 'Source Serif Pro', serif;
$sans-serif: 'Saira Semi Condensed', sans-serif;
$pt-sans: 'PT Sans', sans-serif;