@import '../../styles/main';

.splash {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: $green;
  &.theme-default {
    color: #FFF;
    background-color: $grey-green;
  }

  &.theme-white {
    background-color: #FFF;
    color: #333;
  }
}