@import '../../styles/main';
@import 'hamburgers';

.menu {
  &__menu-overlay {
      overflow: hidden;
      position: fixed;
      z-index: 100;
      width: 0vw;
      height: calc(100vh - #{$header_height});
      top: $header_height;
      left: 0;
      transition: all 0.2s ease-in-out;
      margin: 0;
      white-space: nowrap;

      @include respond-to('device') {
          top: 0;
          height: 100vh;
          z-index: 1;
          padding-top: 100px;
        }

      &.is-active {
        width: 100vw;
        background-color: $green;
      }

      ul {
        position: absolute;
        top: calc(50% - #{$header_height});
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        list-style-type: none;
        white-space: nowrap;

        @include respond-to('device') {
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 100%;
          padding-left: 0;
        }
      }

      li {
        display: block;
        margin: 15px auto;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        a {
          color: #FFF;
          text-decoration: none;
          font-size: 36px;
          font-family: $lato;

          @include respond-to('device') {
            font-size: 24px;
          }
        }
      }
    }

    .hamburger {
      position: absolute;
      right: 10vw;
      top: 50%;
      transform: translateY(-50%);

      @include respond-to('device') {
        z-index: 100;
      }
    }
}